@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Autour+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.blogContainer {
  width: 100%;
  float: left;
  .all {
    width: 40%;
    flex-direction: column;
    display: flex;
  }
  .display {
    width: 60%;
    background: lightyellow;
  }
}

.blogrow {
  .container {
    padding: 5%;
  }
}

.bloglist {
  background-color: cornflowerblue;
  width: 100%;
  .title {
    font-family: 'Autour One';
    font-size: 2em;
    text-transform: capitalize;
    width: 100%;
  }
}

.blogs {
  width: 100%;
  flex-direction: column;
  padding-top: 2%;
  .post {
    .contents {
      width: 80%;
      height: 100%;
      color: white;
      margin: 0 auto;
    }
    .title {
      font-size: 2em;
      font-family: 'Ubuntu', sans-serif;
      font-weight: bold;
      text-shadow: 2px 2px 5px #000000;
    }
  }
}