@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Autour+One&display=swap');

.blogContainer {
  width: 100%;
  height: 100%;
  float: left;
  .all {
    width: 40%;
  }
  .display {
    width: 60%;
    background: lightyellow;
  }
}

.blogrow {
  .container {
    padding: 5%;
  }
}

.bloglist {
  background-color: cornflowerblue;
  width: 100%;
  .title {
    font-family: 'Autour One';
    font-size: 2em;
    text-transform: capitalize;
    width: 100%;
  }
  .post {
    background-color: lavender;
    width: 100%;
    .title {
      font-size: 2em;
      font-family: 'Roboto';
    }
  }
}

.blogposts {
  width: 100%;
  display: inline-block;
  padding-top: 10px;
}